<footer class="footer">

	<p>
		Rüdiger Lorenz Filmproduktion<br>
		Fuchsbichl 36<br>
		D-82057 Icking<br>
		Telefon: 08178-5164<br>
	</p>

	<a href="mailto:info@handwerksvideos.de">info@handwerksvideos.de</a>

	<p>Copyright © 2005 — 2021</p>

</footer>